//------------
// ミックスイン
//------------
// 疑似要素の実装の共通処理。positionミックスインと併用することを推奨。
// paddingに絶対指定
// contentに空文字
@mixin false($pos: absolute, $con: "") {
  position: $pos;
  content: $con;
}
// 位置付けの処理。falseミックスインと併用することを推奨。
@mixin position($top: auto, $lef: auto, $bot: auto, $rig: auto) {
  top: $top;
  left: $lef;
  bottom: $bot;
  right: $rig;
}
// 要素のサイズの共通処理。
@mixin size($wid, $hei) {
  width: $wid;
  height: $hei;
}
// 影をつける。
// $hor: 左右（水平方向）の広がり
// $ver: 上下（垂直方向）の広がり
// $blu: ぼかし
// $spr: 広がり
// $col: 色
@mixin shadow($hor: 5px, $ver: 5px, $blu: 5px, $spr: 1px, $col: rgba(0, 0, 0, 0.5)) {
  box-shadow: $hor $ver $blu $spr $col;
}
// グラデーション処理。
@mixin linear-gradient($dir: right, $start: $key-color, $end: $main-color-dark) {
  background: linear-gradient(to $dir, $start, $end);
}

//--------------
// アニメーション
//--------------
/* フェードイン表示をするアニメーション */
@keyframes fadeIn {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

//--------
// セレクタ
//--------
/* 背景色 */
body {
  background-color: $base-color;
}
/* #region フッターの浮き上がり防止。 */
#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#content {
  margin-bottom: 20px;
}
#footer {
  margin-top: auto;
}
/* #endregion */
/* #region ヘッダー */
#header {
  background-color: $key-color;
  .tagline, .site-name-text {
    color: $font-color;
  }
}
/* #endregion */
/* #region ナビゲーションバー */
#navi {
  background-color: $main-color-dark;
  a:hover {
    background-color: $main-color-dark;
  }
  .item-label {
    position: relative;
    color: $font-color;
    &::after {
      @include false();
      @include position(auto, 0, 0, auto);
      @include size(100%, 2px);
      background-color: $font-color;
      transform: scale(0, 1);
      transform-origin: right top;
      transition: transform 0.3s;
    }
    &:hover::after {
      transform-origin: left top;
      transform: scale(1, 1);
    }
  }
}
/* #endregion */
/* #region トップへ戻る */
#go-to-top .go-to-top-button {
  @include size(56px, 56px);
  background-color: #40C4FF;
  border-radius: 50%;
  .fa-arrow-up{
    color: $background-color;
    &:hover {
      transform: rotate(360deg);
      transition: 0.2s;
    }
  }
}
/* #endregion */
/* #region サイドバー */
#sidebar-menu-content {
  h3 {
    background-color: $key-color;
    color: $font-color;
    padding: 5px 5px 5px 42px;
    line-height: 2.5;
    position: relative;
    z-index: 0;
    &::after {
      @include false();
      @include position(-2px, -2px, auto, auto);
      z-index: 1;
      border: 0;
      border-left: solid 40px white;
      border-bottom: solid 79px transparent;
    }
  }
  a:hover {
    transition: all 0.3s ease;
    background-color: $base-color;
  }
}
#sidebar {
  @extend #sidebar-menu-content;
  animation: fadeIn 1s ease-out 0s 1 normal;
}
/* #endregion */
/* #region 検索ボックス */
#sidebar, #search-menu-content, #slide-in-sidebar {
  .search-edit {
    border-width: 0 0 2px 0;
    border-radius: 0;
    border-bottom: 2px solid $main-color-dark;
    &:focus {
      background-color: $base-color;
      transition: all 0.3s ease;
    }
  }
  .search-submit {
    transition: all 0.3s ease;
    &:hover {
      color: $main-color-dark;
    }
  }
}
/* #endregion */
/* #endregion ブログカード */
#main {
  animation: fadeIn 1s ease-out 0s 1 normal;
  // ホバー時に浮き上がる
  .entry-card-wrap {
    background-color: $background-color;
    border-radius: 4px;
    margin-bottom: 1em;
    &:hover {
      @include shadow(0, 10px, 20px, -5px, rgba(0, 0, 0, 2));
      transform: translateY(-2px);
      transition: all 0.3s ease;
    }
  }
  .cat-label {
    @include position(0, 0, auto, auto);
    border: none;
  }
}
/* #endregion */
/* #region メニュー */
#toc {
  color: $font-color;
  border: 1px solid $main-color-dark;
  padding: 0px;
  .toc-title {
    padding: 0em;
    background-color: $main-color-dark;
  }
  .toc-list {
    padding-right: 20px;
    padding-left: 20px;
  }
}
/* #endregion */
/* #region 見出し */
#main {
  .article {
    h1 {
      @include linear-gradient();
      color: $font-color;
      padding: 1em;
    }
    h2, h3, h4 {
      @include linear-gradient();
      position: relative;
      color: transparent;
      background-clip: text;
      border: 0;
    }
    h2 {
      padding: 0.5em;
      &::after {
        @include linear-gradient();
        @include false();
        @include position(auto, 0px, 0px, auto);
        @include size(100%, 3px);
      }
    }
    h3 {
      padding: 0.25em;
      &::after {
        @include linear-gradient();
        @include false();
        @include position(auto, 0px, 0px, auto);
        @include size(100%, 1px);
      }
    }
    h4 {
      padding: 0.5px;
    }
  }
}
/* #region タグ */
// eachでタグを出力
#main .tag-link{
  color: $font-color;
  border: none;
  // keyを取得
  @each $base-key, $base-value in $tag {
    // keyを格納
    &[href*= "#{$base-key}"] {
      // valueが複数の要素を持つか
      @if length($base-value) != 1 {
        @each $key, $value in $base-value {
          #{$key}: $value;
        }
      }
      // 複数の要素がない
      @else {
        #{$tag-default}: $base-value;
      }
    }
  }
}
/* #endregion */
/* #region SNSボタン */
#main .page {
  .sns-share, .sns-follow {
    display: none;
  }
}
/* #endregion */
/* #region コメント */
#comment-reply-btn {
  color: $font-color;
  background-color: $main-color-dark;
  border-radius: 4px;
  border: none;
}
#commentform {
  #comment, #author, #email, #url{
    border: none;
    border-bottom: 2px solid $main-color-dark;
    border-radius: 0;
    &:focus {
      background-color: $base-color;
      transition: all 0.3s ease;
    }
  }
  #submit {
    color: $font-color;
    background-color: $main-color-dark;
    border-radius: 4px;
    border: none;
  }
}
/* #endregion */
/* #region フッター */
#footer {
  color: $font-color;
  background-color: black;
}
/* #endregion */