@charset "UTF-8";

/*!
  Skin Name: Simplog (lime)
  Description: veilnuiが作成したシンプルなブログスキン（ライム）
  Skin URI: https://github.com/veilnui/simplog/archive/master.zip
  Author: veilnui
  Author URI: https://veilnui.net/
  Version: 1.0
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/

//-------
// Fields
//-------
// Font color
$font-color: white;
// Background color
$background-color: white;
// Base color（60%）
$base-color: #F0F4C3;
// Key color（10%）
$key-color: #AEEA00;
// Main color（30%）
$main-color: #a8ff3e;

// Tag import
@import "..\\_tag.scss";
// Base file import
@import "..\\_base.scss";