// container
$container-background: #e3f2fd;

// header
$header-color: white;
$header-background: #2962ff;

// notice
$notice-color: white;
$notice-background: #3d5afe;

// main
$main-background: white;

// main breadcrumb
$main-breadcrumb-color: #3d5afe;
$main-breadcrumb-after: #3d5afe;

// main dl dt dd
$main-dt-color: white;
$main-dt-background-color: #2196f3;
$main-dd-color: black;
$main-dd-background-color: #bbdefb;


@import "../style";