@charset "UTF-8";
/*!
  Skin Name: veilnui SIMPLOG (brown)
  Description: veilnuiが作成したシンプルなブログスキン（茶色）
  Skin URI: https://simplog.veilnui.org
  Author: veilnui
  Author URI: https://veilnui.net/
  Version: 1.0
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/
/*
 * fade in animation
 * フェードインアニメーション
 */
@keyframes fadeIn {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* background color 背景色 */
body {
  background-color: #EFEBE9;
}

/* footer float prevent フッター浮き上がり防止 */
#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  margin-bottom: 20px;
}

#footer {
  margin-top: auto;
}

/* Header ヘッダー */
#header {
  background-color: #6D4C41;
}

#header .tagline, #header .site-name-text {
  color: white;
}

/* Navigation bar ナビゲーションメニュー */
#navi {
  background-color: #8D6E63;
}

#navi a:hover {
  background-color: #8D6E63;
}

#navi .item-label {
  position: relative;
  color: white;
}

#navi .item-label::after {
  position: absolute;
  content: "";
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}

#navi .item-label:hover::after {
  transform: scale(1, 1);
}

#navi .sub-menu {
  background-color: #8D6E63;
  color: white;
}

/* Go to top button Go to topボタン */
#go-to-top .go-to-top-button {
  width: 56px;
  height: 56px;
  background-color: #6D4C41;
  border-radius: 50%;
}

#go-to-top .go-to-top-button:hover .fa {
  transform: rotate(360deg);
  transition: 0.2s;
}

#go-to-top .go-to-top-button .fa {
  color: white;
}

/* Breadcrumb パンくずリスト */
#breadcrumb span, #breadcrumb a {
  color: #8D6E63;
}

/* Sidebar サイドバー */
#sidebar-menu-content h3, #sidebar h3 {
  background-color: #8D6E63;
  color: white;
  padding: 5px 5px 5px 42px;
  line-height: 2.5;
  position: relative;
  z-index: 0;
}

#sidebar-menu-content h3::after, #sidebar h3::after {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  bottom: auto;
  right: auto;
  z-index: 1;
  border: 0;
  border-left: solid 40px white;
  border-bottom: solid 79px transparent;
}

#sidebar-menu-content a:hover, #sidebar a:hover {
  transition: all 0.3s ease;
  background-color: #EFEBE9;
}

#sidebar {
  animation: fadeIn 1s ease-out 0s 1 normal;
}

#sidebar .widget-sidebar a {
  border-radius: 4px;
}

/* Sidebar widget サイドバーウェジット */
#sidebar, #slide-in-sidebar {
  /* CTA Box CTAボックス */
  /* SNS follow button SNSフォローボタン */
  /* Profile プロファイル */
  /* Comments コメント */
  /* Archives アーカイブ */
  /* Calendar カレンダー */
  /* Search box 検索ボックス */
}

#sidebar .cta-box, #slide-in-sidebar .cta-box {
  border: solid #8D6E63 1px;
  background-color: white;
}

#sidebar .cta-box .cta-heading, #slide-in-sidebar .cta-box .cta-heading {
  color: #6D4C41;
}

#sidebar .cta-box .cta-content, #slide-in-sidebar .cta-box .cta-content {
  color: #333333;
}

#sidebar .sns-follow .feedly-button:hover, #slide-in-sidebar .sns-follow .feedly-button:hover {
  background-color: #2BB24C;
  opacity: 0.7;
}

#sidebar .sns-follow .rss-button:hover, #slide-in-sidebar .sns-follow .rss-button:hover {
  background-color: #F26522;
  opacity: 0.7;
}

#sidebar .author-box, #slide-in-sidebar .author-box {
  border-color: #8D6E63;
}

#sidebar .author-box .feedly-button, #slide-in-sidebar .author-box .feedly-button {
  border: none;
  background-color: #2BB24C;
  color: white;
}

#sidebar .author-box .rss-button, #slide-in-sidebar .author-box .rss-button {
  border: none;
  background-color: #F26522;
  color: white;
}

#sidebar .recent-comments .recent-comment-content, #slide-in-sidebar .recent-comments .recent-comment-content {
  border: solid #8D6E63 1px;
}

#sidebar .recent-comments .recent-comment-content::before, #sidebar .recent-comments .recent-comment-content::after, #slide-in-sidebar .recent-comments .recent-comment-content::before, #slide-in-sidebar .recent-comments .recent-comment-content::after {
  border-bottom-color: #8D6E63;
}

#sidebar .recent-comments a:hover, #slide-in-sidebar .recent-comments a:hover {
  background-color: white;
}

#sidebar .widget_archive select, #slide-in-sidebar .widget_archive select {
  border: solid #8D6E63 1px;
  background-color: #EFEBE9;
}

#sidebar #wp-calendar caption, #slide-in-sidebar #wp-calendar caption {
  color: white;
  border-color: #4E342E;
  background-color: #6D4C41;
}

#sidebar #wp-calendar thead tr th, #slide-in-sidebar #wp-calendar thead tr th {
  color: white;
  border-color: #4E342E;
  background-color: #8D6E63;
}

#sidebar #wp-calendar tbody tr td, #slide-in-sidebar #wp-calendar tbody tr td {
  color: white;
  border-color: #4E342E;
  background-color: #BCAAA4;
}

#sidebar #wp-calendar tbody tr td a, #slide-in-sidebar #wp-calendar tbody tr td a {
  border-radius: 0;
  background-color: #BCAAA4;
  color: white;
}

#sidebar #wp-calendar tbody tr td#today, #sidebar #wp-calendar tbody tr td#today a, #slide-in-sidebar #wp-calendar tbody tr td#today, #slide-in-sidebar #wp-calendar tbody tr td#today a {
  background-color: #8D6E63;
  color: white;
}

#sidebar #wp-calendar tfoot, #slide-in-sidebar #wp-calendar tfoot {
  display: none;
}

#sidebar .search-edit, #slide-in-sidebar .search-edit {
  border-width: 0 0 2px 0;
  border-radius: 0;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  border-bottom: 2px solid #8D6E63;
}

#sidebar .search-edit:focus, #slide-in-sidebar .search-edit:focus {
  background-color: #EFEBE9;
  transition: all 0.3s ease;
}

#sidebar .search-edit:focus ~ .search-submit, #slide-in-sidebar .search-edit:focus ~ .search-submit {
  transition: all 0.3s ease;
  color: #8D6E63;
}

#sidebar .search-submit:hover, #slide-in-sidebar .search-submit:hover {
  transition: all 0.3s ease;
  color: #8D6E63;
}

/* related post 関連記事 */
#related-entries {
  /* displya border settings ボーダー表示設定あり */
}

#related-entries a {
  border-radius: 4px;
}

#related-entries.recb-entry-border a {
  border: solid #EFEBE9 1px;
  border-radius: 4px;
}

/* pager post navi ページ送りナビ */
#pager-post-navi {
  /* displya border settings ボーダー表示設定あり */
}

#pager-post-navi.post-navi-border a {
  border-top: solid #8D6E63 1px;
  border-bottom: solid #8D6E63 1px;
}

#pager-post-navi.post-navi-border .prev-post ~ .next-post {
  border-top: none;
}

#pager-post-navi a:hover {
  transition: all 0.3s ease;
  background-color: #EFEBE9;
}

#pager-post-navi a .fa {
  color: #6D4C41;
}

/* blog card ブログカード */
#main {
  animation: fadeIn 1s ease-out 0s 1 normal;
}

#main .entry-card-wrap {
  position: relative;
  z-index: 2;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 1em;
}

#main .entry-card-wrap:hover {
  box-shadow: 0 10px 20px -5px black;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

#main .cat-label {
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  border: none;
}

/* internal and outside blog card 内部、外部ブログカード */
#main .article .blogcard {
  border: solid #8D6E63 1px;
  transition: all 0.3s ease;
}

#main .article .blogcard:hover {
  background-color: #EFEBE9;
}

/* Previous and Next 前、次へボタン */
#main .pagination-previous-link, #main .pagination-next-link {
  color: white;
  background-color: #8D6E63;
  border: none;
  border-radius: 4px;
}

#main .pagination span {
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #8D6E63;
}

#main .pagination a {
  color: white;
  border: none;
  border-radius: 4px;
  background-color: #8D6E63;
}

/* Toc 目次 */
#toc, .toc {
  margin: 0;
  width: 100%;
  padding: 0;
  border-color: #8D6E63;
  border-radius: 4px;
}

#toc .toc-title, .toc .toc-title {
  padding: 0;
  background-color: #8D6E63;
  color: white;
}

#toc .toc-title::after, .toc .toc-title::after {
  color: white;
  transition: text-decoration 0.3s;
}

#toc .toc-content, .toc .toc-content {
  padding: 0;
}

#toc .toc-content .toc-list, .toc .toc-content .toc-list {
  margin: 0;
}

#toc .toc-content .toc-list li, .toc .toc-content .toc-list li {
  margin: 0;
}

#toc .toc-content .toc-list li a, .toc .toc-content .toc-list li a {
  transition: all 0.3s ease;
}

#toc .toc-content .toc-list li a:hover, .toc .toc-content .toc-list li a:hover {
  color: #EFEBE9;
}

/* Heading 見出し */
#main .entry-content h1 {
  background: linear-gradient(to right, #6D4C41, #8D6E63);
  color: white;
  padding: 1em;
}

#main .entry-content h2, #main .entry-content h3, #main .entry-content h4, #main .entry-content h5, #main .entry-content h6 {
  background: linear-gradient(to right, #6D4C41, #8D6E63);
  position: relative;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  border: 0;
}

#main .entry-content h2::after, #main .entry-content h3::after, #main .entry-content h4::after, #main .entry-content h5::after, #main .entry-content h6::after {
  background: linear-gradient(to right, #6D4C41, #8D6E63);
  position: absolute;
  content: "";
  top: auto;
  left: 0px;
  bottom: 0px;
  right: auto;
}

#main .entry-content h2, #main .entry-content h3 {
  padding: 0.5em;
}

#main .entry-content h2::after {
  width: 100%;
  height: 5px;
}

#main .entry-content h3::after {
  width: 100%;
  height: 3px;
}

#main .entry-content h4, #main .entry-content h5, #main .entry-content h6 {
  padding: 0.25em;
}

#main .entry-content h4::after, #main .entry-content h5::after, #main .entry-content h6::after {
  width: 100%;
  height: 1px;
}

/* Source code ソースコード */
#main .wp-block-code, #main .wp-block-cocoon-blocks-code-box {
  border: none;
}

/* Table テーブル */
#main .wp-block-table tbody {
  border: solid #8D6E63 1px;
}

#main .wp-block-table tbody tr:nth-child(odd) {
  background-color: #BCAAA4;
}

#main .wp-block-table tbody tr:nth-child(even) {
  background-color: white;
}

#main .wp-block-table tbody tr td {
  border: none;
}

/* Tag タグ */
#main .tag-link {
  color: #333333;
  border: none;
}

#sidebar .tagcloud a {
  border-radius: 4px;
  border: none;
}

/* #region SNS SNSボタン */
#main .page .sns-share, #main .page .sns-follow {
  display: none;
}

/* #endregion */
/* Comments コメント */
#comment-area .reply a {
  border: none;
  color: white;
  background-color: #8D6E63;
}

#comment-reply-btn {
  color: white;
  background-color: #8D6E63;
  border-radius: 4px;
  border: none;
}

#comment, #author, #email, #url {
  border: none;
  border-bottom: 2px solid #8D6E63;
  border-radius: 0;
}

#comment:focus, #author:focus, #email:focus, #url:focus {
  background-color: #EFEBE9;
  transition: all 0.3s ease;
}

#submit {
  color: white;
  background-color: #8D6E63;
  border-radius: 4px;
  border: none;
}

/* Footer フッター */
#footer {
  color: white;
  background-color: black;
}

#footer .site-name-text {
  color: white;
}

body .mobile-footer-menu-buttons {
  background-color: #6D4C41;
}

body .mobile-footer-menu-buttons .menu-button:hover {
  background-color: #6D4C41;
}

body .mobile-footer-menu-buttons .menu-button .menu-button-in {
  color: #BCAAA4;
}
