@charset "UTF-8";
/*!
  Skin Name: weblog skin by veilnui
  Description: veilnuiが作成したシンプルなブログスキン（緑色）
  Skin URI: https://github.com/veilnui/weblog-skin-by-veilnui/
  Author: veilnui
  Author URI: https://veilnui.net/
  Version: 1.0
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/
/* フェードイン表示をするアニメーション */
@keyframes fadeIn {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* 背景色 */
body {
  background-color: #E3F2FD;
}

/* #region フッターの浮き上がり防止。 */
#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  margin-bottom: 20px;
}

#footer {
  margin-top: auto;
}

/* #endregion */
/* #region ヘッダー */
#header {
  background-color: #3e64ff;
}

#header .tagline, #header .site-name-text {
  color: white;
}

/* #endregion */
/* #region ナビゲーションバー */
#navi {
  background-color: #2196F3;
}

#navi a:hover {
  background-color: #2196F3;
}

#navi .item-label {
  position: relative;
  color: white;
}

#navi .item-label::after {
  position: absolute;
  content: "";
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
  width: 100%;
  height: 2px;
  background-color: white;
  transform: scale(0, 1);
  transform-origin: right top;
  transition: transform 0.3s;
}

#navi .item-label:hover::after {
  transform-origin: left top;
  transform: scale(1, 1);
}

/* #endregion */
/* #region トップへ戻る */
#go-to-top .go-to-top-button {
  width: 56px;
  height: 56px;
  background-color: #40C4FF;
  border-radius: 50%;
}

#go-to-top .go-to-top-button .fa-arrow-up {
  color: white;
}

#go-to-top .go-to-top-button .fa-arrow-up:hover {
  transform: rotate(360deg);
  transition: 0.2s;
}

/* #endregion */
/* #region サイドバー */
#sidebar-menu-content h3, #sidebar h3 {
  background-color: #3e64ff;
  color: white;
  padding: 5px 5px 5px 42px;
  line-height: 2.5;
  position: relative;
  z-index: 0;
}

#sidebar-menu-content h3::after, #sidebar h3::after {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  bottom: auto;
  right: auto;
  z-index: 1;
  border: 0;
  border-left: solid 40px white;
  border-bottom: solid 79px transparent;
}

#sidebar {
  animation: fadeIn 1s ease-out 0s 1 normal;
}

/* #endregion */
/* #region 検索ボックス */
#sidebar .search-edit, #search-menu-content .search-edit, #slide-in-sidebar .search-edit {
  border-width: 0 0 2px 0;
  border-radius: 0;
  border-bottom: 2px solid #2196F3;
}

#sidebar .search-edit:focus, #search-menu-content .search-edit:focus, #slide-in-sidebar .search-edit:focus {
  background-color: #E3F2FD;
  transition: all 0.3s ease;
}

#sidebar .search-submit, #search-menu-content .search-submit, #slide-in-sidebar .search-submit {
  transition: all 0.3s ease;
}

#sidebar .search-submit:hover, #search-menu-content .search-submit:hover, #slide-in-sidebar .search-submit:hover {
  color: #2196F3;
}

/* #endregion */
/* #endregion ブログカード */
#main {
  animation: fadeIn 1s ease-out 0s 1 normal;
}

#main .entry-card-wrap {
  background-color: white;
  border-radius: 4px;
  margin-bottom: 1em;
}

#main .entry-card-wrap:hover {
  box-shadow: 0 10px 20px -5px black;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

#main .cat-label {
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  border: none;
}

/* #endregion */
/* #region メニュー */
#toc {
  color: white;
  border: 1px solid #2196F3;
  padding: 0px;
}

#toc .toc-title {
  padding: 0em;
  background-color: #2196F3;
}

#toc .toc-list {
  padding-right: 20px;
  padding-left: 20px;
}

/* #endregion */
/* #region 見出し */
#main .article h1 {
  background: linear-gradient(to right, #3e64ff, #2196F3);
  color: white;
  padding: 1em;
}

#main .article h2, #main .article h3, #main .article h4 {
  background: linear-gradient(to right, #3e64ff, #2196F3);
  position: relative;
  color: transparent;
  background-clip: text;
  border: 0;
}

#main .article h2 {
  padding: 0.5em;
}

#main .article h2::after {
  background: linear-gradient(to right, #3e64ff, #2196F3);
  position: absolute;
  content: "";
  top: auto;
  left: 0px;
  bottom: 0px;
  right: auto;
  width: 100%;
  height: 3px;
}

#main .article h3 {
  padding: 0.25em;
}

#main .article h3::after {
  background: linear-gradient(to right, #3e64ff, #2196F3);
  position: absolute;
  content: "";
  top: auto;
  left: 0px;
  bottom: 0px;
  right: auto;
  width: 100%;
  height: 1px;
}

#main .article h4 {
  padding: 0.5px;
}

/* #region タグ */
#main .tag-link {
  color: white;
  border: none;
}

/* #endregion */
/* #region SNSボタン */
#main .page .sns-share, #main .page .sns-follow {
  display: none;
}

/* #endregion */
/* #region コメント */
#commentform #comment {
  border: 1px solid #2196F3;
  border-radius: 0;
  transition: all 0.3s ease;
}

#commentform #comment:focus {
  background-color: #E3F2FD;
}

#commentform #comment #author, #commentform #comment #email, #commentform #comment #url {
  border-width: 0 0 2px 0;
  border-radius: 0;
  border-bottom: 2px solid #2196F3;
}

#commentform #comment #author:focus, #commentform #comment #email:focus, #commentform #comment #url:focus {
  background-color: #E3F2FD;
  transition: all 0.3s ease;
}

#commentform #submit {
  background-color: #2196F3;
  border-radius: 5px;
  color: #E3F2FD;
  border: none;
}

/* #endregion */
/* #region フッター */
#footer {
  color: white;
  background-color: black;
}

/* #endregion */
