@charset "UTF-8";
/*!
  Skin Name: veilnui SIMPLOG (light blue)
  Description: veilnuiが作成したシンプルなブログスキン（青色）
  Skin URI: https://simplog.veilnui.org
  Author: veilnui
  Author URI: https://veilnui.net/
  Version: 1.0
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/
/* fade in animation */
@keyframes fadeIn {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

/* #region background color */
body {
  background-color: #E1F5FE;
}

/* #endregion */
/* #region footer float prevent */
#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

#content {
  margin-bottom: 20px;
}

#footer {
  margin-top: auto;
}

/* #endregion */
/* #region Header */
#header {
  background-color: #039BE5;
}

#header .tagline, #header .site-name-text {
  color: white;
}

/* #endregion */
/* #region Navigation bar */
#navi {
  background-color: #29B6F6;
}

#navi a:hover {
  background-color: #29B6F6;
}

#navi .item-label {
  position: relative;
  color: white;
}

#navi .item-label::after {
  position: absolute;
  content: "";
  top: auto;
  left: 0;
  bottom: 0;
  right: auto;
  width: 100%;
  height: 2px;
  background-color: #81D4FA;
  transform: scale(0, 1);
  transform-origin: center top;
  transition: transform 0.3s;
}

#navi .item-label:hover::after {
  transform: scale(1, 1);
}

#navi .sub-menu {
  background-color: #29B6F6;
  color: white;
}

/* #endregion */
/* #region Go to top */
#go-to-top .go-to-top-button {
  width: 56px;
  height: 56px;
  background-color: #0277BD;
  border-radius: 50%;
}

#go-to-top .go-to-top-button:hover .fa {
  transform: rotate(360deg);
  transition: 0.2s;
}

#go-to-top .go-to-top-button .fa {
  color: #81D4FA;
}

/* #endregion */
/* #region Breadcrumb */
#breadcrumb .fa, #breadcrumb a {
  color: #29B6F6;
}

#breadcrumb .sp .fa {
  color: #29B6F6;
}

/* #endregion */
/* #region Sidebar */
#sidebar-menu-content h3, #sidebar h3 {
  background-color: #29B6F6;
  color: white;
  padding: 5px 5px 5px 42px;
  line-height: 2.5;
  position: relative;
  z-index: 0;
}

#sidebar-menu-content h3::after, #sidebar h3::after {
  position: absolute;
  content: "";
  top: -2px;
  left: -2px;
  bottom: auto;
  right: auto;
  z-index: 1;
  border: 0;
  border-left: solid 40px white;
  border-bottom: solid 79px transparent;
}

#sidebar-menu-content a:hover, #sidebar a:hover {
  transition: all 0.3s ease;
  background-color: #81D4FA;
}

#sidebar {
  animation: fadeIn 1s ease-out 0s 1 normal;
}

#sidebar .widget-sidebar a {
  border-radius: 4px;
}

/* #endregion */
/* #region Search box */
#sidebar .search-edit, #search-menu-content .search-edit, #slide-in-sidebar .search-edit {
  border-width: 0 0 2px 0;
  border-radius: 0;
  border-bottom: 2px solid #29B6F6;
}

#sidebar .search-edit:focus, #search-menu-content .search-edit:focus, #slide-in-sidebar .search-edit:focus {
  background-color: #81D4FA;
  transition: all 0.3s ease;
}

#sidebar .search-edit:focus ~ .search-submit, #search-menu-content .search-edit:focus ~ .search-submit, #slide-in-sidebar .search-edit:focus ~ .search-submit {
  transition: all 0.3s ease;
  color: #29B6F6;
}

#sidebar .search-submit:hover, #search-menu-content .search-submit:hover, #slide-in-sidebar .search-submit:hover {
  transition: all 0.3s ease;
  color: #29B6F6;
}

/* #endregion */
/* #region Sidebar toc */
#sidebar .toc-widget-box a, #search-menu-content .toc-widget-box a, #slide-in-sidebar .toc-widget-box a {
  transition: all 0.3s ease;
}

#sidebar .toc-widget-box a:hover, #search-menu-content .toc-widget-box a:hover, #slide-in-sidebar .toc-widget-box a:hover {
  background-color: white;
  text-decoration: none;
}

/* #endregion */
/* #endregion Blog card */
#main {
  animation: fadeIn 1s ease-out 0s 1 normal;
}

#main .entry-card-wrap {
  position: relative;
  z-index: 2;
  background-color: white;
  border-radius: 4px;
  margin-bottom: 1em;
}

#main .entry-card-wrap:hover {
  box-shadow: 0 10px 20px -5px black;
  transform: translateY(-2px);
  transition: all 0.3s ease;
}

#main .cat-label {
  top: 0;
  left: 0;
  bottom: auto;
  right: auto;
  border: none;
}

/* #endregion */
/* #region Previous and Next */
#main .pagination-previous-link, #main .pagination-next-link {
  color: #E1F5FE;
  background-color: #29B6F6;
  border: none;
  border-radius: 4px;
}

#main .pagination span {
  border: none;
  border-radius: 4px;
  background-color: #039BE5;
}

#main .pagination a {
  border: none;
  border-radius: 4px;
  background-color: #039BE5;
}

/* #endregion */
/* #region Toc */
#toc {
  color: #333333;
  border: 1px solid #29B6F6;
  padding: 0px;
}

#toc .toc-content {
  padding: 0;
}

#toc .toc-content .toc-list {
  margin-top: 0;
  margin-bottom: 0;
}

#toc .toc-content li:nth-of-type(1) {
  margin-top: 0;
}

#toc a {
  transition: all 0.3s ease;
}

#toc a:hover {
  text-decoration: none;
}

#toc .toc-title {
  padding: 0em;
  background-color: #29B6F6;
}

#toc .toc-list {
  padding: 0 20px 0 20px;
}

/* #endregion */
/* #region Article */
#main .article h1 {
  background: linear-gradient(to right, #039BE5, #29B6F6);
  color: white;
  padding: 1em;
}

#main .article h2, #main .article h3, #main .article h4 {
  background: linear-gradient(to right, #039BE5, #29B6F6);
  position: relative;
  color: transparent;
  -webkit-background-clip: text;
  -moz-background-clip: text;
  -ms-background-clip: text;
  border: 0;
}

#main .article h2 {
  padding: 0.5em;
}

#main .article h2::after {
  background: linear-gradient(to right, #039BE5, #29B6F6);
  position: absolute;
  content: "";
  top: auto;
  left: 0px;
  bottom: 0px;
  right: auto;
  width: 100%;
  height: 3px;
}

#main .article h3 {
  padding: 0.25em;
}

#main .article h3::after {
  background: linear-gradient(to right, #039BE5, #29B6F6);
  position: absolute;
  content: "";
  top: auto;
  left: 0px;
  bottom: 0px;
  right: auto;
  width: 100%;
  height: 1px;
}

#main .article h4 {
  padding: 0.5px;
}

/* #endregion */
/* #region Table */
#main .wp-block-table {
  overflow-x: scroll;
}

#main .wp-block-table tr:nth-child(odd) {
  background-color: #81D4FA;
}

#main .wp-block-table tr:nth-child(even) {
  background-color: white;
}

#main .wp-block-table tr td {
  border: none;
}

/* #endregion */
/* #region Tag */
#main .tag-link {
  color: #333333;
  border: none;
}

#sidebar .tagcloud a {
  border-radius: 4px;
  border: none;
}

/* #endregion */
/* #region SNS */
#main .page .sns-share, #main .page .sns-follow {
  display: none;
}

/* #endregion */
/* #region Relation posts */
#related-entries a:hover, #pager-post-navi a:hover {
  transition: all 0.3s ease;
  background-color: #81D4FA;
}

/* #endregion */
/* #region Comments */
#comment-reply-btn {
  color: #333333;
  background-color: #29B6F6;
  border-radius: 4px;
  border: none;
}

#commentform #comment, #commentform #author, #commentform #email, #commentform #url {
  border: none;
  border-bottom: 2px solid #29B6F6;
  border-radius: 0;
}

#commentform #comment:focus, #commentform #author:focus, #commentform #email:focus, #commentform #url:focus {
  background-color: #81D4FA;
  transition: all 0.3s ease;
}

#commentform #submit {
  color: #333333;
  background-color: #29B6F6;
  border-radius: 4px;
  border: none;
}

/* #endregion */
/* #region Footer */
#footer {
  color: #333333;
  background-color: black;
}

body .mobile-footer-menu-buttons {
  background-color: #039BE5;
}

body .mobile-footer-menu-buttons .menu-button:hover {
  background-color: #039BE5;
}

body .mobile-footer-menu-buttons .menu-button .menu-button-in {
  color: #81D4FA;
}

/* #endregion */
