//------
// Mixin
//------
// Prosessing common implement of pseudo elements.
// Recommended use both this and "position mixin".
// 
// Setting value(default value)
// $pos: position property()
// $con: string(empty string)
@mixin pseudo($pos: absolute, $con: "") {
  position: $pos;
  content: $con;
}
// Positioning processing.
// Recommended use both this and "pseudo mixin".
// 
// Setting value(default value)
// $top: top(auto)
// $lef: left(auto)
// $bot: bottom(auto)
// $rig: right(auto)
@mixin position($top: auto, $lef: auto, $bot: auto, $rig: auto) {
  top: $top;
  left: $lef;
  bottom: $bot;
  right: $rig;
}
// Element size setting.
//
// Setting value
// $wid: width
// $hei: height
@mixin size($wid, $hei) {
  width: $wid;
  height: $hei;
}
// gradient processing
// 
// Setting value(default value)
// $dir: direct(right)
// $start: start color($key-color)
// $end: end color($main-color)
@mixin linear-gradient($dir: right, $start: $main-color-dark, $end: $main-color-midium) {
  background: linear-gradient(to $dir, $start, $end);
}

//----------
// Animation
//----------
/* fade in animation */
@keyframes fadeIn {
  0% {
    transform: translateY(10%);
    opacity: 0;
  }
  100% {
    transform: translateY(0%);
    opacity: 1;
  }
}

//---------
// Selector
//---------
/* #region background color */
body {
  background-color: $base-color;
}
/* #endregion */

/* #region footer float prevent */
#container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
#content {
  margin-bottom: 20px;
}
#footer {
  margin-top: auto;
}
/* #endregion */

/* #region Header */
#header {
  background-color: $main-color-dark;
  .tagline, .site-name-text {
    color: $white-color;
  }
}
/* #endregion */

/* #region Navigation bar */
#navi {
  background-color: $main-color-midium;
  a:hover {
    background-color: $main-color-midium;
  }
  .item-label {
    position: relative;
    color: $white-color;
    &::after {
      @include pseudo();
      @include position(auto, 0, 0, auto);
      @include size(100%, 2px);
      background-color: $main-color-light;
      transform: scale(0, 1);
      transform-origin: center top;
      transition: transform 0.3s;
    }
    &:hover::after {
      transform: scale(1, 1);
    }
  }
  .sub-menu {
    background-color: $main-color-midium;
    color: $white-color;
  }
}
/* #endregion */

/* #region Go to top */
#go-to-top .go-to-top-button {
  @include size(56px, 56px);
  background-color: $key-color;
  border-radius: 50%;
  &:hover .fa {
    transform: rotate(360deg);
    transition: 0.2s;
  }
  .fa {
    color: $main-color-light;
  }
}
/* #endregion */

/* #region Breadcrumb */
#breadcrumb {
  .fa, a {
    color: $main-color-midium;
  }
  .sp .fa {
    color: $main-color-midium;
  }
}
/* #endregion */

/* #region Sidebar */
#sidebar-menu-content {
  h3 {
    background-color: $main-color-midium;
    color: $white-color;
    padding: 5px 5px 5px 42px;
    line-height: 2.5;
    position: relative;
    z-index: 0;
    &::after {
      @include pseudo();
      @include position(-2px, -2px, auto, auto);
      z-index: 1;
      border: 0;
      border-left: solid 40px white;
      border-bottom: solid 79px transparent;
    }
  }
  a:hover {
    transition: all 0.3s ease;
    background-color: $base-color;
  }
}
#sidebar {
  @extend #sidebar-menu-content;
  animation: fadeIn 1s ease-out 0s 1 normal;
}
#sidebar .widget-sidebar a {
  border-radius: 4px;
}
/* #endregion */

/* #region Search box */
#sidebar, #search-menu-content, #slide-in-sidebar {
  .search-edit {
    border-width: 0 0 2px 0;
    border-radius: 0;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 2px solid $main-color-midium;
    &:focus {
      background-color: $base-color;
      transition: all 0.3s ease;
      ~ .search-submit {
        transition: all 0.3s ease;
        color: $main-color-midium;
      }
    }
  }
  .search-submit:hover {
    transition: all 0.3s ease;
    color: $main-color-midium;
  }
}
/* #endregion */

/* #region Sidebar toc */
#sidebar, #search-menu-content, #slide-in-sidebar {
  .toc-widget-box a {
    transition: all 0.3s ease;
    &:hover {
      background-color: $white-color;
      text-decoration: none;
    }
  }
}
/* #endregion */

/* #endregion Blog card */
#main {
  animation: fadeIn 1s ease-out 0s 1 normal;
  // Hover to float
  .entry-card-wrap {
    position: relative;
    z-index: 2;
    background-color: $white-color;
    border-radius: 4px;
    margin-bottom: 1em;
    &:hover {
      box-shadow: 0 10px 20px -5px black;
      transform: translateY(-2px);
      transition: all 0.3s ease;
    }
  }
  .cat-label {
    @include position(0, 0, auto, auto);
    border: none;
  }
}
/* #endregion */

/* #region Previous and Next */
#main {
  .pagination-previous-link, .pagination-next-link {
    color: $base-color;
    background-color: $main-color-midium;
    border: none;
    border-radius: 4px;
  }
  .pagination {
    span {
      border: none;
      border-radius: 4px;
      background-color: $main-color-dark;
    }
    a {
      border: none;
      border-radius: 4px;
      background-color: $main-color-dark;
    }
  }
}
/* #endregion */
/* #region Toc */
#toc {
  .toc-content {
    padding: 0;
    .toc-list {
      margin-top: 0;
      margin-bottom: 0;
    }
    li:nth-of-type(1) {
      margin-top: 0;
    }
  }
  a {
    transition: all 0.3s ease;
    &:hover {
      text-decoration: none;
    }
  }
  color: $white-color;
  border: 1px solid $main-color-midium;
  padding: 0px;
  .toc-title {
    padding: 0em;
    background-color: $main-color-midium;
  }
  .toc-list {
    padding: 0 20px 0 20px;
  }
}
/* #endregion */

/* #region Article */
#main {
  .article {
    h1 {
      @include linear-gradient();
      color: $white-color;
      padding: 1em;
    }
    h2, h3, h4 {
      @include linear-gradient();
      position: relative;
      color: transparent;
      -webkit-background-clip: text;
      -moz-background-clip: text;
      -ms-background-clip: text;
      border: 0;
    }
    h2 {
      padding: 0.5em;
      &::after {
        @include linear-gradient();
        @include pseudo();
        @include position(auto, 0px, 0px, auto);
        @include size(100%, 3px);
      }
    }
    h3 {
      padding: 0.25em;
      &::after {
        @include linear-gradient();
        @include pseudo();
        @include position(auto, 0px, 0px, auto);
        @include size(100%, 1px);
      }
    }
    h4 {
      padding: 0.5px;
    }
  }
}
/* #endregion */

/* #region Table */
#main .wp-block-table {
  // overflow-x: scroll;
  tr {
    &:nth-child(odd) {
      background-color: $main-color-light;
    }
    &:nth-child(even) {
      background-color: $white-color;
    }
    td {
      border: none;
    }
  }
}
/* #endregion */

/* #region Tag */
// Tag generator
#main .tag-link {
  color: $font-color;
  border: none;
  // Get key
  @each $base-key, $base-value in $tag {
    // Store key
    &[href*= "#{$base-key}"] {
      // Is value multiple elements?
      @if length($base-value) != 1 {
        @each $key, $value in $base-value {
          #{$key}: $value;
        }
      }
      // Value is not multiple element.
      @else {
        #{$tag-default}: $base-value;
      }
    }
  }
}
#sidebar .tagcloud a {
  border-radius: 4px;
  border: none;
}
/* #endregion */

/* #region SNS */
#main .page {
  .sns-share, .sns-follow {
    display: none;
  }
}
/* #endregion */

/* #region Relation posts */
#related-entries, #pager-post-navi {
  a:hover {
    transition: all 0.3s ease;
    background-color: $main-color-light;
  }
}
/* #endregion */

/* #region Comments */
#comment-reply-btn {
  color: $font-color;
  background-color: $main-color-midium;
  border-radius: 4px;
  border: none;
}
#commentform {
  #comment, #author, #email, #url{
    border: none;
    border-bottom: 2px solid $main-color-midium;
    border-radius: 0;
    &:focus {
      background-color: $main-color-light;
      transition: all 0.3s ease;
    }
  }
  #submit {
    color: $font-color;
    background-color: $main-color-midium;
    border-radius: 4px;
    border: none;
  }
}
/* #endregion */

/* #region Footer */
#footer {
  color: $white-color;
  background-color: black;
}
body .mobile-footer-menu-buttons {
  background-color: $main-color-dark;
  .menu-button {
    &:hover {
      background-color: $main-color-dark;
    }
    .menu-button-in {
      color: $main-color-light;
    }
  }
}
/* #endregion */