@charset "UTF-8";
/*!
  Skin Name: weblog skin by veilnui (blue)
  Description: veilnuiが作成したシンプルなブログスキン（青色）
  Skin URI: https://github.com/veilnui/weblog-skin-by-veilnui/
  Author: veilnui
  Author URI: https://veilnui.net/
  Version: 1.0
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/
/*
  Skin Name: portable skin of blue by veilnui
  Description: ヴェールヌイのポータブルサイト用スキン（青色）
  Skin URI: https://veilnui.net/
  Author: veilnui
  Author URI: https://veilnui.net/
  Screenshot URI: 
  Version: 1.0
  Priority: 0
*/
/* 背景色 */
body {
  background-color: #C8E6C9; }

/* メインとサイドバーを縦並べ */
#content-in {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-flow: column nowrap;
  flex-flow: column nowrap; }

#main {
  width: 100%;
  background-color: #C8E6C9;
  margin: 0; }

#container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh; }

#content {
  margin-bottom: 20px; }

/* ヘッダー */
#header {
  background-color: #388E3C; }
  #header .tagline, #header .site-name-text {
    color: white; }

/* フッター */
#footer {
  color: white;
  background-color: black;
  margin-top: auto; }

/* 独自 */
#card-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch;
  width: 100%; }

#card-container .card {
  text-align: center;
  width: calc(96% / 3);
  border-radius: 4px;
  background-color: white;
  padding: 1em; }
  #card-container .card:hover {
    -webkit-transform: translateY(-2px);
    -ms-transform: translateY(-2px);
    transform: translateY(-2px);
    -webkit-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
    transition: all 0.3s ease; }
  #card-container .card a {
    background-color: #00C853;
    padding: 0.5em;
    border-radius: 4px;
    color: white; }
