@charset "UTF-8";

/*!
  Skin Name: Simplog (teal)
  Description: veilnuiが作成したシンプルなブログスキン（鴨の羽色）
  Skin URI: https://github.com/veilnui/simplog/
  Author: veilnui
  Author URI: https://veilnui.net/
  Version: 1.0
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/

//----------
// フィールド
//----------
// 文字色（デフォルトは白色）
$font-color: white;
// 背景色（デフォルトは白色）
$background-color: white;
// ベースカラー（60%）
$base-color: #80CBC4;
// キーカラー（10%）
$key-color: #009688;
// メインカラー（30%）
$main-color: #00BFA5;

// タグをインポート
@import "..\\_tag.scss";
// プロパティをインポート
@import "..\\_base.scss";