@charset "UTF-8";

/*!
  Skin Name: weblog skin by veilnui (blue)
  Description: veilnuiが作成したシンプルなブログスキン（青色）
  Skin URI: https://github.com/veilnui/weblog-skin-by-veilnui/
  Author: veilnui
  Author URI: https://veilnui.net/
  Version: 1.0
  License: http://www.gnu.org/licenses/gpl-2.0.html/ GPL v2 or later
*/

//----------
// フィールド
//----------
// 文字色（デフォルトは白色）
$font-color: white;
// 背景色（デフォルトは白色）
$background-color: white;
// ベースカラー（60%）
$base-color: #FFEBEE;
// キーカラー（10%）
$key-color: #D50000;
// メインカラー（30%）
$main-color: #F44336;

// タグをインポート
@import "..\\_tag.scss";
// プロパティをインポート
@import "..\\_base.scss";